<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ExtensionsSettings" type="System.Configuration.AppSettingsSection" />
		<section name="ExtensionsBanSettings" type="System.Configuration.AppSettingsSection" />
		<section name="ErrorExtension" type="System.Configuration.AppSettingsSection" />
	</configSections>
	<ExtensionsSettings>
		<add key="extension1" value=".txt" />
		<add key="extension2" value=".png" />
		<add key="extension3" value=".mp3" />
		<add key="extension4" value=".jpg" />
		<add key="extension5" value=".css" />
		<add key="extension10" value=".lol" />
	</ExtensionsSettings>
	<ExtensionsBanSettings>
		<add key="extension1" value=".ini" />
	</ExtensionsBanSettings>
	<ErrorExtension>
		<add key="extension1" value="Error this section doesn't exist" />
	</ErrorExtension>
	<appSettings>
		<add key="sourceFilePath" value="0" />
		<add key="targetFilePath" value="1" />
		<add key="encryptionKey" value="10" />
		<add key="language" value="0" />
		<add key="hello" value="world" />
	</appSettings>

</configuration>